body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(14, 14, 14, 0.975);
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

/* * Create vomit section */

.vomit-container {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
}

#create-vomit-form{
    position: sticky;
    top: 40px;
    z-index: 1;
}

.create-vomit {
    background-color: rgba(15, 15, 15, 0.85);
    width: 1020px;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.create-vomit textarea {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 95%;
    height: 65%;
    font-size: 25px;
    background-color: transparent;
    color: lightgray;
    resize: none;
    display: block; 
    margin-top: 20px;
}
.create-vomit-buttons{
    margin-top: 3px;
    width: 95%;
}

.image-label {
    margin-top: 5px;
    cursor: pointer;
    display: inline-block;
}

.image-label img {
    width: 26px; 
    height: 18px;
}

.hidden-input {
    display: none;
}




.vomit-submit{
    float: right;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #1DA1F2;
    color: #fff;
    display: block;
}

/* * Middle Section */

.middle-section {
    width: 100%;
    max-width: 1020px;
    padding: 25px;
}

.middle-section h2{
    color: lightgray;
}

.middle-section .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#search-bar-form{
    position: sticky;
    top: 0;
    z-index: 1;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15, 0.85);
    width: 100%;
    max-width: 1020px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
    color: lightgray;
}

#search-button {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #1DA1F2;
    color: #fff;
    margin-left: 10px;
}

#search-button:hover {
    background-color: #0f81c7;
}





/* * Left Section */


.texts{
    font-size: 23px;
    margin-left: 20px;
    margin-right: 10px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-header{
    font-size: 23px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 25px;
    color: white;
    font-weight: bold;
}

/* * left-section */

.left-section {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-left: 25px;
    border-radius: 10px;
    margin-right: 20px;
}

.left-section a{
    
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px; 
    border-radius: 40px;
    color: lightslategray;
    position: relative;
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}
.left-section a:hover {
    background-color: lightslategray;
    color: #fff; 
}

.friends{
    overflow-y: scroll;
    height: 650px;
}

.friend {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 40px;
    color: lightslategray;
    transition: background-color 0.3s ease;
    background-color: transparent;
}

.friend:hover {
    background-color: lightslategray;
    color: #fff;
}

.friend img {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    margin-left: auto; 
    margin-right: 10px; 
}

/* * vomit Section */

.vomit {
    width: 1000px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}




.vomit p {
    margin: 10px 0;
    color: lightslategray;
}

.vomit-image {
    margin-top: 10px;
    max-width: 100%;
    display: flex; 
    justify-content: center; 
    border-radius: 15px; 
}

.vomit-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
}

.button-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment-button, .like-button {
    width: 100px;
    height: 35px;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: 10px;
}

.comment-button:hover .comment-circle{
    background-color: rgba(20, 114, 255, 0.158);
}

.comment-button:hover .comment-count{
    color: rgb(56, 130, 250);
}

.comment-button:hover {
    background-color: transparent
}

.comment-button:hover .comment-image{
    background-image: url('images/comment-hover.png');
}

.comment-button .comment-circle {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.comment-button .comment-image {
    background-image: url('images/comment.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    height: 70%;
}

.comment-button .comment-count {
    font-weight: bold;
    color: rgb(116, 116, 116);
}

.comment-button:hover {
    background-color: transparent;
}




.like-button:hover .like-circle{
    background-color: rgba(255, 20, 134, 0.158);
}

.like-button:hover .likes-count{
    color: rgb(255, 20, 135);
}

.like-button.liked .likes-count{
    color: rgb(255, 20, 135);
}

.like-button:hover {
    background-color: transparent
}

.like-button:hover .like-image{
    background-image: url('images/unlike-hover.png');
}

.like-button .like-circle {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.like-button .like-image {
    background-image: url('images/unlike.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.like-button .likes-count {
    font-weight: bold;
    color: rgb(116, 116, 116);
}

.like-button.liked .like-image {
    background-image: url('images/like.png');
}

.comment-box {
    display: none;
    flex-direction: column;
    max-height: 0;
    transition: max-height 0.3s ease;

    width: 100%;
    background-color: transparent;
}

.comment-box button:hover {
    background-color: #0f81c7;
}

.comment-box.show {
    display: flex;
    max-height: 200px; 
}

.text-area-container {
    display: flex;
    flex-direction: row; /* Set the container to display its children in a row */
    align-items: center; /* Center the items vertically */
}

.comment-box textarea {
    flex: 1;
    padding: 8px;
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    background-color: transparent;
    color: lightgray;
}

.comment-submit {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #1DA1F2;
    color: #fff;
    margin-left: 10px; /* Add some space between textarea and button */
}

.comment-submit:hover {
    background-color: #0f81c7;
}

.sidebar {
    position: fixed;
    bottom: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
    height: 100vh;
}

.navigation {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
}

.navigation-link {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px; 
    border-radius: 40px;
    color: lightslategray;
    position: relative;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navigation-link:hover {
    background-color: lightslategray; 
    color: #fff; 
}

.profile-button {
    position:relative;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
}

.profile-button a {
    position: relative; /* Set position to relative */
    display: flex;
    align-items: center;
    background-color: #1DA1F2;
    color: #fff;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
}

.profile-button a:hover {
    background-color: #0f81c7;
}

.profile-button img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute; 
    right: 10px; 
    top: 5px; 
}

.profile-button span {
    position: absolute; 
    left: 20px;
    font-size: 23px;
}
.username {
    margin-right: 10px;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}






::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 100px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}