{% extends "BlogApp/home.html" %}
{% load static %}
{% block javascripts %}
    <script src="{% static 'BlogApp/javascript/common.js' %}"></script>
    <script src="{% static 'BlogApp/javascript/notifications/handle_ajax_accept_requests.js' %}"></script>
    <script src="{% static 'BlogApp/javascript/handle_websockets.js' %}"></script>
    <script src="{% static 'BlogApp/javascript/general_functions.js' %}"></script>
{% endblock javascripts %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'BlogApp/home-style.css' %}">
{% endblock styles %}
{% block MiddleSection %}
<div class="chat-container">
    <div class="chat-header" id="receiver_infos" data-receiver-username="{{Receiver_Username}}" data-receiver-picture="{{Receiver_Picture}}">
        <img src="{{ Receiver_Picture }}" alt="User Avatar" class="chat-avatar">
        <h3 class="chat-title">{{Receiver_Username}}</h3>
    </div>

    <div class="chat-messages">
        <div class="chat-container">
            {% for chat in Chat_Messages %}
                {% if chat.sender == request.user %}
                    <div class="message sent">{{ chat.content }}
                        <span class="message-status">Sent</span>
                    </div>
                {% else %}
                    <div class="received-message-container">
                        <img src="{{ chat.sender.profile_picture_path }}" alt="Profile Picture" class="profile-pic">
                        <div class="message received">
                            {{ chat.content }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <div class="chat-input-area">
        <input type="text" placeholder="Type a message...">
        <button>Send</button>
    </div>
</div>
{% endblock MiddleSection %}
