{% extends 'BlogApp/base.html' %}
{% load static %}
{% block head %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'BlogApp/javascript/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'BlogApp/home-style.css' %}">
    
{% endblock head %}

{% block content %}

    <div class="main-content">

      <!-- Left section -->

        <div class="left-section">
                <div class="text-header"> 
                    Friends
                </div>
            <div class="friends">
                {% for friend in Friends_Info %}
                    <a href="#">
                        <div class="friend">
                            <div class="texts">
                                {{friend.username}}
                            </div>
                            <img src="{{friend.picture_path}}" alt="Aubrey's Profile">
                        </div>
                    </a>
                {% endfor %}
            </div>
                <div>
                    <br>
                    <hr>
                    <br>
                </div>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Settings
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="{% url 'logout' %}">
                    <div class="friend">
                        <div class="texts">
                            Logout
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <div class="profile-button">
                    <a href="#">
                        <span class="username">{{Username}}</span>
                        <img src="{{ User_Picture_Path }}" alt="Friend's Profile">
                    </a>
                </div>

        </div>

        <!-- Middle section -->
        <div class="middle-section">
            {% block MiddleSection %}
                <form action="{% url 'search' %}" method="GET" id="search-bar-form">
                    <div class="search-bar">
                        <input type="text" name="searchKeyword" class="search-keyword" placeholder="Search...">
                        <button type="submit" class="search-button">Search</button>
                    </div>
                    <div id="search-results" class="search-results">
                    </div>
                </form>
                <br>
                <div class="vomit-container">
                    <!-- ... Create vomit ... -->
                    <form action="" id="create-vomit-form" method="post" enctype="multipart/form-data">    
                        {% csrf_token %}
                        <div class = "create-vomit">
                            <textarea rows="20" cols="50" id="vomit-textarea" name="title" placeholder="Throw Up"></textarea>
                            <div class = "create-vomit-buttons">
                                <input type="file" id="fileInput" name="blog_image" class="hidden-input" accept="image/*">
                                <label for="fileInput" class="image-label">
                                    <img src="static/BlogApp/images/image_icon.png" alt="Choose Image">
                                </label>
                                <button class="vomit-submit" id="create-vomit-button" type="button" data-url="{% url 'create_vomit' %}">Submit</button>
                            </div>
                        </div>
                    </form>
                    <!-- ... Vomits ... -->
                    <div class="vomits">
                        <h2>Vomits</h2>
                        <div class="vomit">
                            <p>{{Blog.title}}</p>
                            <div class="vomit-image">
                                <img src="{{Blog.blog_image_url}}" alt="vomit Image 2" width="1000" height="1000">
                            </div>


                            <div class="button-container">
                                <button id="commentButton" class="comment-button">
                                    <div class="comment-circle">
                                        <div class="comment-image"></div>
                                    </div>
                                    <span class="comment-count">0</span>
                                </button>

                                <button id="likeButton" class="like-button">
                                    <div class="like-circle">
                                        <div class="like-image"></div>
                                    </div>
                                    <span class="likes-count">0</span>
                                </button>
                            </div>


                            <div id="comment-box" class="comment-box">
                                <div class="text-area-container">
                                    <textarea rows="1" placeholder="Write your comment here..."></textarea>
                                    <button class="comment-submit">Submit</button>
                                </div>
                            </div>
                        </div>
                        <div class="vomit">
                            <p>{{Blog.title}}</p>
                            <div class="vomit-image">
                                <img src="{{Blog.blog_image_url}}" alt="vomit Image 2" width="1000" height="1000">
                        </div>
                    </div>

                    <div class="vomit">
                        <p>{{Blog.title}}</p>
                        <div class="vomit-image">
                            <img src="{{Blog.blog_image_url}}" alt="vomit Image 2" width="1000" height="1000">
                        </div>
                            <div class="button-container">
                                <button id="commentButton" class="comment-button">
                                    <div class="comment-circle">
                                        <div class="comment-image"></div>
                                    </div>
                                    <span class="comment-count">0</span>
                                </button>

                                <button id="likeButton" class="like-button">
                                    <div class="like-circle">
                                        <div class="like-image"></div>
                                    </div>
                                    <span class="likes-count">0</span>
                                </button>
                            </div>


                            <div id="comment-box" class="comment-box">
                                <div class="text-area-container">
                                    <textarea rows="1" placeholder="Write your comment here..."></textarea>
                                    <button class="comment-submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock MiddleSection %}
        </div>


        <div class="navigation">
                <div class="text-header"> 
                        Navigations
                </div>
                <a href="{% url 'home' %}" class = "navigation-link">
                    <div class="texts"> 
                        Home
                    </div>
                </a>
                <a href="{% url 'notifications' %}" class = "navigation-link" >
                    <div  class="texts" > 
                        Notifications   
                    </div>
                </a>
                <a href="#" class = "navigation-link" >
                    <div  class="texts" > 
                        Profile   
                    </div>
                </a>
                <a href="#" class = "navigation-link" >
                    <div  class="texts" > 
                        Settings   
                    </div>
                </a>
        </div>
    </div>
{% endblock content %}
