{% extends 'BlogApp/base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'BlogApp/javascript/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'BlogApp/home-style.css' %}">
{% endblock head %}

{% block content %}

    <div class="main-content">

      <!-- Left section -->
        <div class="left-section">
            <div class="text-header"> 
                Friends
            </div>
            <div class="friends">
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                 <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                 <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
                <a href="#">
                    <div class="friend">
                        <div class="texts">
                            Aubrey
                        </div>
                        <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                    </div>
                </a>
            </div>
            <div>
                <br>
                <hr>
                <br>
            </div>
            <a href="#">
                <div class="friend">
                    <div class="texts">
                        Settings
                    </div>
                    <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                </div>
            </a>
            <a href="{% url 'logout' %}">
                <div class="friend">
                    <div class="texts">
                        Logout
                    </div>
                    <img src="static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                </div>
            </a>
            <div class="profile-button">
                <a href="#">
                    <span class="username">{{User.username}}</span>
                    <img src="{{ User.profile_picture.url }}" alt="Friend's Profile">
                </a>
            </div>
        </div>


        <!-- Middle section -->
        <div class="middle-section">
            <h2>Home</h2>
            <div class="throw-container">
                <div class = "create-throw">

                    <textarea rows="20" cols="50" placeholder="Throw Up"></textarea>
                    <button class="throw-submit">Submit</button>
                </div>
                <div class="throws">
                    <div class="throw">
                    
                        <div class="user-info">
                            <!-- ... User info ... -->
                        </div>
                        <p>Sample throw. #coding #webdev</p>
                        <div class="throw-image">
                            <img src="{{Blog.blog_image.url}}" alt="throw Image 2" width="1000" height="1000">
                        </div>

                        <!-- Like button and Comment button container -->
                        <div class="button-container">
                            <button id="commentButton" class="comment-button">
                                <div class="comment-circle">
                                    <div class="comment-image"></div>
                                </div>
                                <span class="comment-count">0</span>
                            </button>

                            <button id="likeButton" class="like-button">
                                <div class="like-circle">
                                    <div class="like-image"></div>
                                </div>
                                <span class="likes-count">0</span>
                            </button>
                        </div>

                        <!-- Comment input field -->
                        <div id="comment-box" class="comment-box">
                            <div class="text-area-container">
                                <textarea rows="1" placeholder="Write your comment here..."></textarea>
                                <button class="comment-submit">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="throw">
                    
                        <div class="user-info">
                            <!-- ... User info ... -->
                        </div>
                        <p>Sample throw. #coding #webdev</p>
                        <div class="throw-image">
                            <img src="{{Blog.blog_image.url}}" alt="throw Image 2" width="1000" height="1000">
                        </div>

                        <!-- Like button and Comment button container -->
                        <div class="button-container">
                            <button id="commentButton" class="comment-button">
                                <div class="comment-circle">
                                    <div class="comment-image"></div>
                                </div>
                                <span class="comment-count">0</span>
                            </button>

                            <button id="likeButton" class="like-button">
                                <div class="like-circle">
                                    <div class="like-image"></div>
                                </div>
                                <span class="likes-count">0</span>
                            </button>
                        </div>

                        <!-- Comment input field -->
                        <div id="comment-box" class="comment-box">
                            <div class="text-area-container">
                                <textarea rows="1" placeholder="Write your comment here..."></textarea>
                                <button class="comment-submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation">
                <div class="text-header"> 
                        Navigations
                </div>
                <a href="#" class = "navigation-link">
                    <div class="texts"> 
                        Home
                    </div>
                </a>
                <a href="#" class = "navigation-link" >
                    <div  class="texts" > 
                        Notifications   
                    </div>
                </a>
                <a href="#" class = "navigation-link" >
                    <div  class="texts" > 
                        Profile   
                    </div>
                </a>
                <a href="#" class = "navigation-link" >
                    <div  class="texts" > 
                        Settings   
                    </div>
                </a>
        </div>
    </div>

{% endblock content %}
