{% extends 'BlogApp/base.html' %}
{% load static %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'BlogApp/javascript/home/home.js' %}"></script>
    <script src="{% static 'BlogApp/javascript/home/handle_ajax_requests.js' %}"></script>
    <script src="{% static 'BlogApp/javascript/handle_websockets.js' %}"></script>
{% endblock javascripts %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'BlogApp/home-style.css' %}">
{% endblock styles %}

{% block content %}

    <div class="main-content">

      <!-- Left section -->

        <div class="left-section">
                <div class="text-header"> 
                    Friends
                </div>
            <div class="friends">
                {% for friend in Friends_Info %}
                    <a href="{% url 'user_profile' friend.username%}">
                        <div class="friend">
                            <div class="texts">
                                {{friend.username}}
                            </div>
                            <img src="{{friend.picture_path}}" alt="{{friend.username}} profile">
                        </div>
                    </a>
                {% endfor %}
            </div>
                <div class="left-buttons">
                    <br>
                    <hr>
                    <br>
                    <a href="#">
                        <div class="friend">
                            <div class="texts">
                                Settings
                            </div>
                            <img src="/static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                        </div>
                    </a>
                    <a href="{% url 'logout' %}">
                        <div class="friend">
                            <div class="texts">
                                Logout
                            </div>
                            <img src="/static/BlogApp/images/profile.jpg" alt="Aubrey's Profile">
                        </div>
                    </a>
                    <div class="profile-button">
                        <a href="#">
                            <span class="username">{{Username}}</span>
                            <img src="{{ User_Picture_Path }}" alt="Friend's Profile">
                        </a>
                    </div>
                </div>


        </div>

        <!-- Middle section -->
        <div class="middle-section">
            {% block MiddleSection %}
                <div class="main-container">
                    <div class="forms-container">
                        <form action="{% url 'search' %}" method="GET" id="search-bar-form">
                            <div class="search-bar">
                                <input type="text" name="searchKeyword" class="search-keyword" placeholder="Search...">
                                <button type="submit" class="search-button">Search</button>
                            </div>
                            <div id="search-results" class="search-results">
                            </div>
                        </form>
                        <br>
                        <!-- ... Create vomit ... -->
                        <form action="" id="create-vomit-form" method="post" enctype="multipart/form-data">    
                            {% csrf_token %}
                            <div class = "create-vomit">
                                <textarea rows="20" cols="50" id="vomit-textarea" name="title" placeholder="Throw Up"></textarea>
                                <div class = "create-vomit-buttons">
                                    <input type="file" id="fileInput" name="blog_image" class="hidden-input" accept="image/*">
                                    <label for="fileInput" class="image-label">
                                        <img src="static/BlogApp/images/image_icon.png" alt="Choose Image">
                                    </label>
                                    <button class="vomit-submit" id="create-vomit-button" type="button">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <!-- ... Vomits ... -->
                    <h2>Vomits</h2>
                    <div class="vomits">
                        {% for blog in Blog %}
                            <div class="vomit">
                                <p>{{blog.title}}</p>
                                <div class="vomit-image">
                                    <img src="{{blog.blog_image_url}}" alt="vomit Image 2">
                                </div>

                                <div class="comments">
                                    <div class="comment">
                                        <img class="user-profile" src="{{ User_Picture_Path }}" alt="User Name">
                                        <div class="comment-content">
                                            <div class="comment-span">
                                                <span class="comment-username">User Name</span>
                                                <span class="reply-to"> replies to <span class="replied-username">Another User</span></span>
                                            </div>
                                            
                                            <div class="comment-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem placeat, nisi, ipsam facilis quam maiores laboriosam magni amet beatae sed quia sint, dignissimos rem. Dolore animi accusamus nemo velit soluta. </div>
                                                <button class="like-button-comment">
                                                    <div class="like-circle">
                                                        <div class="like-image"></div>
                                                    </div>
                                                    <span class="likes-count">0</span>
                                                </button>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <img class="user-profile" src="{{ User_Picture_Path }}" alt="User Name">
                                        <div class="comment-content">
                                            <div class="comment-span">
                                                <span class="comment-username">User Name   </span>
                                                <span class="reply-to">replies to   <span class="replied-username">Another User</span></span>
                                            </div>
                                            
                                            <div class="comment-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem placeat, nisi, ipsam facilis quam maiores laboriosam magni amet beatae sed quia sint, dignissimos rem. Dolore animi accusamus nemo velit soluta. </div>
                                                <button class="like-button-comment">
                                                    <div class="like-circle">
                                                        <div class="like-image"></div>
                                                    </div>
                                                    <span class="likes-count">0</span>
                                                </button>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="button-container">
                                    <button id="commentButton" class="comment-button">
                                        <div class="comment-circle">
                                            <div class="comment-image"></div>
                                        </div>
                                        <span class="comment-count">0</span>
                                    </button>

                                    <button id="likeButton" class="like-button">
                                        <div class="like-circle">
                                            <div class="like-image"></div>
                                        </div>
                                        <span class="likes-count">0</span>
                                    </button>
                                </div>


                                <div id="comment-box" class="comment-box">
                                    <div class="text-area-container">
                                        <textarea rows="1" placeholder="Write your comment here..."></textarea>
                                        <button class="comment-submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock MiddleSection %}
        </div>


        <div class="navigation">
                <div class="text-header"> 
                        Navigations
                </div>
                <a href="{% url 'home' %}" class = "navigation-link">
                    <div class="texts"> 
                        Home
                    </div>
                </a>
                <a href="{% url 'notifications' %}" class = "navigation-link" >
                    <div  class="texts" > 
                        Notifications   
                    </div>
                </a>
                <a href="{% url 'user_profile' Username %}" class = "navigation-link" >
                    <div  class="texts" > 
                        Profile   
                    </div>
                </a>
                <a href="#" class = "navigation-link" >
                    <div  class="texts" > 
                        Settings   
                    </div>
                </a>
        </div>
    </div>
{% endblock content %}
