{% extends 'BlogApp/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'BlogApp/login-style.css' %}">
{% endblock head %}

{% block content %}

    <div class="login-container" id="login-container">
        <h2>Login</h2>
        <form action="" method="POST">
        {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>
{% endblock content %}
