{% extends "BlogApp/home.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'BlogApp/home-style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="{% static 'BlogApp/javascript/accept_friend_request.js' %}"></script>
{% endblock head %}
{% block MiddleSection %}
    <div id="message-box" class="hidden-message">
        <div id="message-content"></div>
    </div>
    <div class="text-header"> 
        Notifications
    </div>
    <div>
        <hr>
        <br>
    </div>
    <div class="shared-container">
        <div class="shared-items">
            {% if Friend_Requests_Info %}
                {% for result in Friend_Requests_Info %}
                    <form action="" method="POST">
                        <div class="shared-item">
                            {% csrf_token %}
                            <div class="user-info">
                                <img class="profile-picture" src="{{ result.picture_path }}" alt="{{ result.username }} Profile Picture">
                                <span>{{ result.username }}</span>
                            </div>
                            <button class="friend-request-button" data-username="{{ result.username }}">Accept</button>
                        </div>
                    </form>

                {% endfor %}  
            {% else %}
                <div class="shared-item">
                    <span>You have not any notifications</span>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock MiddleSection %}