{% extends 'BlogApp/home.html' %}
{% load static %}
{% block javascripts %}
    <script src="{% static 'BlogApp/javascript/common.js' %}"></script>
    <script src="{% static 'BlogApp/javascript/home/handle_ajax_comment_like.js' %}"></script>
    <script src="{% static 'BlogApp/javascript/handle_websockets.js' %}"></script>
    <script src="{% static 'BlogApp/javascript/general_functions.js' %}"></script>
{% endblock javascripts %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'BlogApp/home-style.css' %}">
{% endblock styles %}
{% block MiddleSection %}
{% csrf_token %}
<div class="profile-section">
    <div class="profile-thumbnail" style="background-image: url('{{ Thumbnail_Picture_Path }}') ;"></div>
    <div class="profile-info">
        <img class="profile-image" src="{{ Profile_Picture_Path }}" alt="Profile Image">
        <div class="profile-texts">
            <div class="profile-username">{{ Profile_Username }}</div>
            <div class="profile-member-since">Member Since: {{ Member_Since }}</div>
        </div>
    </div>
    <!-- Profile Posts -->
    <div class="profile-posts">
        <h2>Vomits</h2>
        {% for blog in Profile_Posts %}
            <div class="vomit" data-blog-id="{{ blog.id }}">
                <p>{{blog.title}}</p>
                
                <div class="vomit-image">
                    <img src="{{blog.blog_image_url}}" alt="vomit Image 2">
                </div>
                <div class="comments" {% if not blog.related_comments %}style="display:none;"{% endif %}>
                    {% for comment in blog.related_comments %}
                        <div class="comment" data-comment-id="{{comment.id}}">
                            <img src="{{ comment.user.profile_picture_path }}" alt="{{comment.user.username}}">
                            <div class="comment-content">
                                <div class="comment-span">
                                    <span class="comment-username">{{comment.user.username}}</span>
                                    <!--<span class="reply-to"> replies to <span class="replied-username">Another User</span></span>-->
                                </div>
                                
                                <div class="comment-text">{{comment.content}}</div>
                                <button class="like-button-comment">
                                    <div class="like-circle">
                                        <div class="like-image"></div>
                                    </div>
                                    <span class="likes-count">0</span>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="button-container">
                    <button id="commentButton" class="comment-button">
                        <div class="comment-circle">
                            <div class="comment-image"></div>
                        </div>
                        <span class="comment-count">0</span>
                    </button>

                    <button id="likeButton" class="like-button {% if blog.is_liked %}liked{% endif %}" >
                        <div class="like-circle">
                            <div class="like-image"></div>
                        </div>
                        <span class="likes-count">{{blog.like_count}}</span>
                    </button>
                </div>

                <div id="comment-box" class="comment-box">
                    <div class="comment-submit-container">
                        <textarea class="comment-submit-content" rows="1" placeholder="Write your comment here..."></textarea>
                        <button class="comment-submit">Submit</button>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
</div>




{% endblock MiddleSection %}
